
.horario {
    align-items: center;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 3px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
}
#contenedor{
display: flex;
background-image: url(../ideogram-_38_.jpg);
}

h2{
  font-family: 'Roboto', sans-serif;
    color: white;
}
span{
  font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
}

button{
    border: none;
    border-radius: 9px;
    padding: 9px;
    margin: 6px;
    font-weight: 700;
    color: rgb(59, 59, 59);
}

.swiper {
    width: 100%;
    height: 100%;
   
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper {
    margin-left: auto;
    margin-right: auto;
  }

  .bodytur {
    /* Ruta de la imagen */
    background-image: url('ideogram (4).jpeg');
    
    /* Centrar la imagen de fondo */
    background-position: center;
    
    /* Hacer que la imagen de fondo ocupe toda la pantalla */
    background-size: cover;
    
    /* Evitar que la imagen de fondo se repita */
    background-repeat: no-repeat;
    
    /* Añadir una capa de opacidad */
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    
    /* Asegurarse de que el fondo ocupe toda la altura y anchura */
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  .bodyindex{ 
      background-image: url('ideogram-_38_.jpg');
      background-position: center;  
      background-size: cover;
            background-repeat: no-repeat;
      
      /* Añadir una capa de opacidad */
      background-color: rgba(0, 0, 0, 0.5);
      background-blend-mode: overlay;
      
      min-height: 100vh;
      margin: 0;
      padding: 0;
    
  }

  /* Estilos para el fondo y la capa de opacidad */
body {
  background-image: url('ideogram (4).jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para el contenedor de botones */
.button-container {
  margin-top: -527px;
  flex-direction: column;
  display: flex;
  gap: 20px; /* Espacio entre los botones */
}

/* Estilos para los botones con efecto de neón */
.neon-button {
  background-color: #1d1d1d;
  border: none;
  color: white;
  padding: 8px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 0 0 5px #00ffff, 0 0 7px #00ffff, 0 0 15px #ff00de, 0 0 9px #ff00de, 0 0 5px #ff00de, 0 0 3px #ff00de, 0 0 5px #ff00de
}

.neon-button:hover {
  background-color: #333;
}
.hidden {
  display: flex;
  gap: 20px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  visibility: hidden;
}

/* Estilos para los botones cuando están visibles */
.visible {
  display: flex;
  opacity: 1;
  visibility: visible;
  flex-direction: column;
}